/**************************************************************
    GENERAL
**************************************************************/
:root {
    font-size: 62.5%; /* Root font size 10px */
    font-family: "Cascadia Mono", sans-serif;

    --font-size-large: 2.5rem;
    --font-size-big: 2rem;
    --font-size-regular: 1.7rem;
    --font-size-small: 1.5rem;

    /*--color-blue: #4285F4;*/
    --color-gray: #202124;
    --color-blue: #5F95EC;
    --color-green: #5AD786;
    --color-red: #E74F3E;
    --color-yellow: #F7FCA0;
    --color-white: #E5E9F0;
    --color-orange: #DE935F;
}

::-webkit-scrollbar {
    display: none
}
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
}

body {
    margin: 0 10px;
    background-color: var(--color-gray);

    font-family: "Cascadia Mono", sans-serif;
    font-size: var(--font-size-regular);
    letter-spacing: 1px;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#bash {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    height: 500px;
    cursor: text;

    overflow: hidden;
    -ms-overflow-style: none;

    border-radius: 10px;
    
    /*box-shadow: 0 0 10px 7px rgba(255, 255, 255, .1);*/
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .1);

    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    margin: 3rem;

    color: var(--color-yellow);   
}

.blue-text {
    color: var(--color-blue);
}
.red-text {
    color: var(--color-red);
}
.yellow-text {
    color: var(--color-yellow);
}
.green-text {
    color: var(--color-green);
}
.white-text {
    color: var(--color-white);
}
.orange-text {
    color: var(--color-orange);
}

/**************************************************************
    BASH HEADER
**************************************************************/
#bash .window-header {
    display:flex;
    align-items: center;
    text-align: center;
    flex-direction: row;

    width: 100%;
    height: 20px;
    padding: 1rem 0;
    cursor:default;
}
#bash .window-header .buttons-container {
    position: absolute;
    display:flex;
    flex-direction: row;
}
#bash .window-header .button {
    width:12px;
    height:12px;
    border-radius:50%;
    margin-right:8px;
    cursor:pointer;
}
#bash .window-header .title {
    flex: 1;
    text-align: center;
}
#bash .window-header .title h1 {
    color: var(--color-white);
    font-size: var(--font-size-big);
}

/**************************************************************
    BASH CONTENT
**************************************************************/
#bash-content {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    padding:8px;
    overflow: auto;
}
input{
    border:none;
    background-color: unset;
    color: var(--color-blue);
    width: 100%;
    font-size: var(--font-size-regular);
    padding-left: 10px;
    letter-spacing: 1px;
    height: 20px;
    font-family: "Cascadia Mono", sans-serif;
}
.input-value {
    color: var(--color-blue);
    padding-left: 10px;
}
input:focus
{
    border:none;
    outline: none;
    box-shadow: none;
    background-color: unset;  
}

.line-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
}

.arrow-icon {
    padding-right: 10px;
}
.list-item {
    padding-left: 20px;
}
.list-item a {
    text-decoration: none;
}
.social-link {
    text-decoration: none;
    color: var(--color-white);
}

/**************************************************************
    PROJECTS
**************************************************************/
.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.project-container p {
    margin: 0;
}
.project-container h1 {
    color: var(--color-green);
    font-size: var(--font-size-large);
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.project-container img {
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
}
.project-container h2 {
    margin-top: 3rem;
    font-size: var(--font-size-big);
    color: var(--color-green);
}
.project-container .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.project-container .icons-container span {
    width: 34px;
    height: 34px;
    padding-right: 15px;
}
.project-container .icons-container img {
    width: 100%;
    border-radius: 0;
}
#svg-url {
    margin: 1rem;
    margin-top: 2ren;
    width: 34px;
    height: 34px;
}
.published {
    color: var(--color-orange);
    padding-bottom: 1rem;
    rem;
}

/**************************************************************
    FOOTER
**************************************************************/
.footer {
    position:absolute;
    bottom:0;
    right:0;
    color: var(--color-yellow);
    text-align: center;
    margin-right: 3rem;
}

#heart {
    color: var(--color-red);
}

.credits {
    font-weight: 300;
    text-align: center;
    color: var(--color-green);
    text-decoration: none;
}

/**************************************************************
    MEDIA QUERIES
**************************************************************/
@media (max-width:600px)
{
    body {
        font-size: var(--font-size-small);
    }
    #bash {
        height: 80vh;
        width: 80%;
    }
    #bash .window-header .buttons-container {
        position: unset;
        display: flex;
        flex-direction: row;
    }
    #bash .window-header .title h1 {
        font-size: var(--font-size-small);
    }
    input {
        font-size: var(--font-size-small);
    }
    .project-container img {
        width: 90%;
    }
    .footer {
        display: none;
    }
}
@media (max-width:500px)
{
    #bash .window-header .title h1 {
        display: none;   
    }
}
